<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Divisima | eCommerce Template</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="../assets2/img/favicon.ico" rel="shortcut icon" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../assets2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../assets2/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../assets2/css/flaticon.css" />
	<link rel="stylesheet" href="../assets2/css/slicknav.min.css" />
	<link rel="stylesheet" href="../assets2/css/jquery-ui.min.css" />
	<link rel="stylesheet" href="../assets2/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../assets2/css/animate.css" />
	<link rel="stylesheet" href="../assets2/css/style.css" />

	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style>
			@media only screen and (max-width: 360px) and (max-width: 360px) {
				.slider {
					max-height: 15em;
					background-size: cover
				}
			}

			@media only screen and (min-width: 1024px) {
				.slider {
					max-height: 500px;
					background-size: cover
				}
				.footer-margin{
					margin-left: 80px 
				}
				.margin-table{
					margin-left: 30px 
				}
			}

			.menu:hover {
				text-decoration: underline;
				color: #f27a03  !important;
			}
		</style>
    <style>
        .image1 {
            
            -webkit-animation:spin 0.5s linear infinite;
            -moz-animation:spin 0.5s linear infinite;
            animation:spin 0.5s linear infinite;  
        }
        @-moz-keyframes spin { 50% { -moz-transform: rotate(8deg); } }
        @-webkit-keyframes spin { 50% { -webkit-transform: rotate(8deg); } }
        @keyframes spin { 50% { -webkit-transform: rotate(45deg); transform:rotate(8deg); } }
    </style>
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	

	<nav class="navbar navbar-expand-lg navbar-light bg-light ">

			<div class="col-md-3">
			
				<center>
				<!-- logo -->
				<a href="/" class="navbar-brand site-logo">
					<img height="45px" src="../assets2/00f30ff2-c296-4dae-8f59-9daacdad432a.jpg" alt="">
				</a>	
				</center>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>	

			</div>
			
			<div class="col-md-8">
				<div style="" class="collapse navbar-collapse  float-right" sty id="navbarSupportedContent">

					<ul class="navbar-nav mr-auto">
						
						<li class="nav-item">
							<a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/aboutus">ABOUT US <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/grouplist">OUR PRODUCTS <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/shedcard">SHADE CARD <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/branches">OUR BRANCHES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contactus">CONTACT US</a>
						</li>
					</ul>

				</div>
			</div>
	
			<div class="col-md-1">
			</div>

		</nav>


	<!-- Header section end -->

<img width="100%" src="../assets2/website-designing-company-in-bhopal.jpg" />
	<div class="container">
		<div class=col-md-12>
		
            
			<div style="margin-top: 60px;margin-bottom: 60px">
				<div class="row">

                    <div class="col-md-6">

                    </div>		
					<div class="col-md-6">
						<h4 style="color: #4d4e53;border-left: 4px solid #f3823a;line-height: 35px;text-align: left">  &nbsp;&nbsp;SG Thread at a Glance</h2>
                       
                        <p></p>
                        <p style="text-align: justify; font-size: 15px">
                            
                            Our motto Growth is Life aptly captures the ever-evolving spirit of our company. 
                        </p>
                        <p></p>
                        <p style="text-align: justify;font-size: 15px">
                            “SG Thread” belongs to the Shree Ganesh Group, founded by <strong>Mr. Nareshbhai D. Khokhariya (Director) </strong> with the small trading shop in 2005. However, over the years the company has expanded their business from small trading shop to Manufacturing unit and other branches located in Smart city Surat. The company has gained huge success all across the nation. 
                        </p>
                        <p></p>
                        <p style="text-align: justify;font-size: 15px">
                            The company focuses on producing best quality of Embroidery thread and Jari by applying innovative techniques, we are not just supply of our products to customers, but to solve customer's issues and improve value. 
                        </p>
                        <p></p>
                        <p style="text-align: justify;font-size: 15px">
                            SG Thread provides a wide range of embroidery products like German Thread, Polyester Thread, Viscos Thread, Cotton Thread, Acrylic Thread, Bobbin Thread, Spun Polyester Thread, Catonic Thread, Kasab Jari, Color Jari, Flora Jari, Butter Paper, Fudging Paper and also we can meet customer's various needs for other unique products. 
                        </p>	
					</div>
				</div>	
                <div class="row"><p></p></div>
                <div class="row"><p></p></div>
                <div class="row"><p></p></div>
                <div class="row"><p></p></div>
                <div class="row"><p></p></div>
                <div class="row"><p></p></div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                        <i class="fa fa-cogs fa-4x image1" style="color:#fc9732">
                        </i>
                        <h4 style="margin-top:15px">Mission</h4>
                        </center>
                        <p>
                        </p>
                        <p  style="text-align: justify;font-size: 15px">
                            To be the favored worldwide provider of Industrial Embroidery Thread and Jari by giving World-Class quality items and administrations to our Customers.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <center>
                        <i class="fa fa-eye fa-4x image1" style="color:#fc9732"></i>
                        <h4 style="margin-top:15px">Vision</h4>
                        </center>
                        <p></p>
                        <p style="margin-right: 20px;font-size: 15px;margin-left: 10px;text-align: justify;">
                        To make must believed brand and quality item with consumer loyalty in Thread and Jari Industry.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <center>
                        <i class="fa fa-rocket fa-4x image1" style="color:#fc9732"></i>
                        <h4 style="margin-top:15px">Quality</h4>
                        </center>
                        <p></p>
                        <p style="text-align: justify;font-size: 15px">
                         We generally provide for to our client precisely what we state in perfect length and weight with shining thread and jari.
                        </p>
                    </div>
                 </div>

			</div>

		</div>
	</div>

<!-- Footer section -->
		<section class="footer-section" >
			<div class="col-md-12">
				
				<div class="row">
					<div class="footer-margin">
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="footer-widget about-widget  mx-auto d-block">
								
								<h2>General Links*</h2>
								<ul>
									<li><a href="/aboutus">About SG</a></li>
									<li><a href="/grouplist">Our Product</a></li>
									
									<li><a href="https://www.indiamart.com/shreeganeshjarithread/">India Mart</a></li>

									<li><a href="https://www.facebook.com/SG-Thread-770330193366992/?modal=admin_todo_tour">Facebook</a></li>

									<li><a href="https://www.instagram.com/sg_thread/">Instagram</a></li>
									<li><a href="/contactus">Contact Us</a></li>
								</ul>
								
							</div>
						</div>
					</div>

					<div class="col-md-5 margin-table">
					
						<div id="anpstext-6" style="margin-left: 25px" class="widget widget_anpstext">
							<center>
							<table>
								<tr>
									<td style="border-right: 1px solid grey;padding-right: 10px">	
										<i style="color: #fc9732 !important;" class="fa fa-map-marker"></i>
									</td>
									<td >
										<p  style="font-size: 15px;margin-top: 20px;margin-left: 10px !important;color: #fc9732 !important" class="important">
											690, New Katargam GIDC, Katargam, Surat, Gujarat, 395004.
										</p>
									</td>
								<tr>

								<tr>
									<td style="border-right: 1px solid grey;padding-right: 10px">
										<i style="color: #fc9732 !important" class="fa fa-phone"></i>
									</td>
									<td >
										<p  style="font-size: 15px;margin-top: 16px;margin-left: 10px !important;color: #fc9732 !important" class="important">
											+91 97242 38046
										</p>
									</td>
								<tr>

								<tr>
									<td style="border-right: 1px solid grey;padding-right: 10px">
										<i style="color: #fc9732 !important" class="fa fa-envelope"></i>
									</td>
									<td >
										<p  style="font-size: 15px;margin-top: 16px;margin-left: 10px !important;color: #fc9732 !important" class="important">
											sgthread123@gmail.com
										</p>
									</td>
								<tr>

															<tr>
									<td style="border-right: 1px solid grey;padding-right: 10px">
										<i style="color: #fc9732 !important" class="fa fa-globe"></i>
									</td>
									<td >
										<p  style="font-size: 15px;margin-top: 16px;margin-left: 10px !important;color: #fc9732 !important" class="important">
											www.sgthread.com
										</p>
									</td>
								<tr>
								
							</table>
							</center>
							<br>
						</div>

					</div>
				
					<div class="col-md-4">
						<div class="mx-auto d-block">
						
								<iframe width="100%" height="270" id="gmap_canvas" src="https://maps.google.com/maps?q=sgthread&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
								</iframe>
						
							
						</div>
					</div>

				</div>
			</div>
			<hr>
		</section>
	<!-- Footer section end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="../assets2/js/jquery-3.2.1.min.js"></script>
	<script src="../assets2/js/bootstrap.min.js"></script>
	<script src="../assets2/js/jquery.slicknav.min.js"></script>
	<script src="../assets2/js/owl.carousel.min.js"></script>
	<script src="../assets2/js/jquery.nicescroll.min.js"></script>
	<script src="../assets2/js/jquery.zoom.min.js"></script>
	<script src="../assets2/js/jquery-ui.min.js"></script>
	<script src="../assets2/js/main.js"></script>
    
</body>

</html>